body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    


}

.common {
    background-color:rosybrown;
    border: solid 2px whitesmoke;
    position: absolute;


}

.header{
    top: 5px; 
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2; 
}


.mainbody{
    
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}

.footer{
    left: 5px;
    right: 5px;
    bottom:5px; 
    height: 50px;
    font-size: 8px;
    text-align: center;
    position: fixed; 
    


}

.subheader {
    float:right; 
}